spring:
  datasource:
   url: jdbc:postgresql://localhost:5433/manage360db
   username: postgres
   password: 12345

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true

  logging:
    level:
      org.flywaydb: DEBUG
      org.hibernate.SQL: debug
      org.hibernate.type.descriptor.sql.BasicBinder: trace



#  •	ddl-auto: validate → Flyway owns schema
#  •	Never update or create in production systems